<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.wku.mandi" />

	<bean id="mongoClient" class="com.mongodb.MongoClient">
		<constructor-arg value="127.0.0.1"></constructor-arg>
	</bean>

	<bean id="mongoDB" class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
		<constructor-arg ref="mongoClient"></constructor-arg>
		<constructor-arg value="mandi"></constructor-arg>
	</bean>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDB"></constructor-arg>
	</bean>
	
</beans>